<!DOCTYPE html>
<html>
<head>
  <!-- BEGIN LivePerson Monitor. -->
  <script type="text/javascript">window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={wl:lpTag.wl||null,scp:lpTag.scp||null,site:'40499019'||'',section:lpTag.section||'',tagletSection:lpTag.tagletSection||null,autoStart:lpTag.autoStart!==!1,ovr:lpTag.ovr||{},_v:'1.10.0',_tagCount:1,protocol:'https:',events:{bind:function(t,e,i){lpTag.defer(function(){lpTag.events.bind(t,e,i)},0)},trigger:function(t,e,i){lpTag.defer(function(){lpTag.events.trigger(t,e,i)},1)}},defer:function(t,e){0===e?(this._defB=this._defB||[],this._defB.push(t)):1===e?(this._defT=this._defT||[],this._defT.push(t)):(this._defL=this._defL||[],this._defL.push(t))},load:function(t,e,i){var n=this;setTimeout(function(){n._load(t,e,i)},0)},_load:function(t,e,i){var n=t;t||(n=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var o=document.createElement('script');o.setAttribute('charset',e?e:'UTF-8'),i&&o.setAttribute('id',i),o.setAttribute('src',n),document.getElementsByTagName('head').item(0).appendChild(o)},init:function(){this._timing=this._timing||{},this._timing.start=(new Date).getTime();var t=this;window.attachEvent?window.attachEvent('onload',function(){t._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){t._domReady('contReady')},!1),window.addEventListener('load',function(){t._domReady('domReady')},!1)),'undefined'===typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(t){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:t})),this._timing[t]=(new Date).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],hooks:lpTag.hooks||[],identities:lpTag.identities||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1;</script>
  <!-- END LivePerson Monitor. -->
  <title>Authenticated Engagement</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
  <h1>Authenticated Messaging Engagement - CART page</h1>
  <p>Engagement that sticks on specific location on page.</p>
  <p>Reqs:
      <li> Need to go 'sales-en' skill</li>
      <li>Engagement must show up on 'list products' and 'transaction page'</li>
      <li>Pass product information currently in the cart on 'list products' page</li>
      <li>Pass purchase data when visitor reach on 'transaction page'</li>
      <li>Data must shows up to the agent</li>
      <li>Must provide authenticated visitor's info</li>
      <li>if any error occurs on the page send error data to LP </li>

  </p>
  <div id="LP_DIV_1446650188048"></div>
  <script>
    // function test(callback) {
      // let lpTag = {}
      lpTag.identities = []
      lpTag.identities.push(identityFn);
      function identityFn(callback) {
          callback({
              iss: "https://www.example.com",
              acr: "loa1", 
              sub: "4255551212"
          });
        }
      
      // Query the token endpoint to get the OpenID Connect Token
      lpGetAuthenticationToken = (callback) => {
      $.post( "/getToken", function( data ) {
        console.log('token decoded');
        console.log(data);
        //if successful
        if(data.Fail != "undefined" && data.Fail != "404"){
            var id_token = data.token;
            callback(id_token);
         } 
         //on failure
         else {
            callback("",data.error);
         }
      });
    }

    /* AUTH */
    //Need to set identity info to initializing
    //   let lpTag = {}
    //   lpTag.identities = []
    //   lpTag.identities.push(identityFn);
    //   function identityFn(callback) {
    //       callback({
    //           iss: "issuerInfo",
    //           acr: "loa1", 
    //           sub: "customer_id"
    //       });
    //   }
    // 'lpGetAuthenticationToken' is set to window context rather than 'lpMethods' context.
        // let lpGetAuthenticationToken = function(callback) {
        //     console.log("LP asked for id_token");
        //     // Do your magic...
        //         let url = '';
        //         if(accountId == null && leConversationId == null){
        //             url = `/getToken?visitor=testuser`;
        //         }else {
        //             url = `/getToken?visitor=${accountId}--${leConversationId}`;
        //         }
        //         axios.get(url)
        //             .then((res) =>{
        //                 // On Success
        //                 let id_token = res.data.id_token;
        //                 //store token in  session storage
        //                 sessionStorage.setItem('id_token', id_token);
        //                 console.log('Got id_token');
        //                 console.log(id_token);
        //                 callback(id_token);

        //             })
        //             .catch((err) =>{
        //                 console.log('Error Getting JWT');
        //                 console.log(err);
        //             })
        // }
        /*AUTH*/


  </script>
</body>
</html>
